/* App.css */
:root {
  --primary-color: #80902d;
  --secondary-color: #d55e1c;
  --accent-color: #27548A;
  --background-color: #F5F5F5;
  --text-color: #333333;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
